/* CSS Document */

/*
*  1.0 UNIVERSAL RESETS
*  ------------------------------------------
*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20091131 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1em;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 *  2.0 GENERIC CLASSES
 *  ------------------------------------------
 */
* {margin:0; padding:0; font-size:100%;}
body {
  font-family:Arial, Helvetica, sans-serif; font-size:0.75em; line-height:1.5em; color:#535353;
  background:#000000 url(/theme/images/bg_header_sketch.jpg) center top no-repeat;
}
img {vertical-align:top;}
dl,
hr,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

html, input, textarea {}

/*
 *  3.0 GENERAL STRUCTURE
 *  ------------------------------------------
 */
.dm_widgets:after {clear:both; content:"."; display:block; height:0; visibility:hidden;}
.dm_widgets {display:inline-block;}
.dm_widgets {display:block;}

.layout {position:relative; }
.layout .header {position:relative; min-height:360px; padding-bottom:26px; background:url('/theme/images/bg_gradient_header.jpg') left bottom repeat-x;}
.dm_layout_top {position: relative; width:940px; min-height:113px; margin:0 auto;}
.layout_center {width:940px; margin:0 auto;}
.container_content_top {margin-bottom: 30px;}
.dm_page_media,
.dm_page_content_top,
.content_main,
.dm_page_content_bottom {width:960px; margin:0 auto;}
.dm_page_content_bottom {margin-top:30px;}
#dm_content {float:left; margin:0 0 0 20px; padding-right:20px; border-right: 1px solid #0C303F;}
.dm_layout_right {float:left; margin:0 20px;}

.colspan-3 {width:940px;}

.narrow_right #dm_content {width:550px;}
.narrow_right .dm_layout_right {width:309px;}

.margin1 {margin-right:3px;}
.margin2 {margin-left:21px;}
.margin3 {margin-right:51px;}
.margin4 {margin-left:15px;}
.margin5 {margin-right:74px;}
.margin6 {margin-right:21px;}

.padding1 {padding-bottom:18px;}
.padding2 {padding-bottom:22px;}
.padding3 {padding-bottom:20px;}
.padding4 {padding-bottom:25px;}
.padding5 {padding-left:22px;}
.padding6 {padding-bottom:16px;}
.padding7 {padding-top:4px;}
.padding8 {padding-bottom:12px;}

.box_rc_bottom {background:url('/theme/images/box-left.png') left bottom no-repeat;}
.box_rc_bottom .dm_text {
  background:url('/theme/images/box-right.png') right bottom no-repeat; 
  padding:0 144px;
}
.box_rc_bottom .dm_text .text_content {
  background:url('/theme/images/box-tail.png') left bottom repeat-x; 
  min-height:238px; height:auto !important; height:238px;
}
.box_rc_bottom .dm_text .text_content .markdown {
  margin:0 -120px; padding:22px 0 0;
}

/*
 *  4.0 HEADER / FOOTER
 *  ------------------------------------------
 */

.brand {float:left; width:620px; margin:20px 0;}
.brand .logo {float:left; width:124px; margin-right:20px;}
.brand .markdown {
  display:inline-block;
  font-family:Papyrus, "Times New Roman", Times, serif; 
  font-style:italic; color:#CC610A; font-weight:normal; 
}
.brand h2 {display:inline-block; float:left; width:456px; margin:20px 0 0 0; font-size:2.5em; line-height:1em;}
.brand h2 span {padding-left:20px; font-size:0.65em; line-height:1em;}
.brand h3 {display:inline-block; float:left; width:456px; margin:110px 0 0 0; font-size:1.25em; line-height:1.5em; text-align: right; color:#CC610A;}
.brand h3 span {color:#fff;}

.navigation_menu {margin-top:47px;}
.menu {margin-bottom:0px; list-style-type:none; }
.menu li {float:left; width:128px; height:47px; background:none; padding-left:0px;}
.menu li.first a,
.menu li.first span.dm_current {
  -moz-border-radius-topleftt: 10px; -webkit-border-top-left-radius: 10px; border-top-left-radius: 10px;
}
.menu li.last a,
.menu li.last span.dm_current {
  -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius: 10px;
}
.menu li a {
  display:block; width:118px; height:31px; padding:15px 5px 0 5px;
  background:url('/theme/images/menu-button2.png') 0 -47px no-repeat;
  color:#91CFF3; font-size:1.167em; line-height:1em; text-decoration:none; text-align: center;
}
.menu li.last a {background:url('/theme/images/menu-button.png') 0 -47px no-repeat;}
.menu li a:hover {background-position:0px 0px;}
.menu li span.dm_current {
  display:block; width:118px; height:31px; padding:15px 5px 0 5px;
  background:#fff url('/theme/images/menu-button.png') 0 0px no-repeat;
  color:#252960; font-size:1.167em; line-height:1em; text-decoration:none; text-align: center;
}


.footer {background:url(/theme/images/footer-tail.jpg) left top repeat-x; color:#B1CCE7; font-size:1.083em;}
.footer a {color:#0654A0; text-decoration:none; margin-left:15px;}
.footer a:hover {text-decoration:underline;}

.footer .dm_layout_ft_content {width:980px; margin:0 auto; padding:73px 0 75px 73px;}


/*
 *  5.0 HEADINGS
 *  ------------------------------------------
 */

h1 {
  margin-bottom:7px;
  font-family:"Times New Roman", Times, serif; font-style:italic; font-size:3.3em; line-height:1em; color:#91CFF3;
}

h2, h3, h4, h5 {font-weight:normal;}

h2 {
  margin-bottom:10px; padding-bottom:10px; 
  font-family:"Times New Roman", Times, serif; font-style:italic; line-height:1em;
  font-size:2.25em; color:#FFFFFF;
}

h3, h4 {padding-bottom:10px; font-family:"Times New Roman", Times, serif; font-style:italic; line-height:1em; }
h3 {font-size:1.75em; color:#CC610A; }
h4 {font-size:1.5em; color:#80E0FE;}

h5 {color:#80E0FE;}


.title1 {background:url(/theme/images/title-img1.png) left top no-repeat;}
.title2 {background:url(/theme/images/title-img2.png) left top no-repeat;}
.title3 {background:url(/theme/images/title-img3.png) left top no-repeat;}
.title1, .title2, .title3 {padding:20px 0 25px 100px; margin-bottom:7px; font-family:Times New Roman, Times, serif; font-style:italic; font-size:3.3em; line-height:1em;
 text-transform:none; color:#91CFF3;}

/*
 *  6.0 LINKS / Buttons
 *  ------------------------------------------
 */

a {text-decoration:underline; color:#059CFD;}
a:hover {text-decoration:none;}

.alt_link {font-family:Tahoma, Geneva, sans-serif; font-weight:bold; font-size:0.917em; text-decoration:none; color:#D6D5D5;} 
.alt_link:hover {text-decoration:underline;} 
.link-img {margin-left:4px;}

/*
 *  7.0 PARAGRAPHS
 *  ------------------------------------------
 */
p {}

/*
 *  10.0 LISTS
 *  ------------------------------------------
 */
ul {list-style:none;} 
ul li {background:url('/theme/images/list-marker.gif') left 8px no-repeat; padding-left:10px;}
li a {color:#FF790D;}

.markdown ul {margin:20px 0;}
/*
 *  14.0 META
 *  ------------------------------------------
 */


/*
*  15.0 COMPONENT SPECIFIC
*  ------------------------------------------
*  -in alphabetical order-
*/

.summary_image_left {margin-bottom:20px;}
.summary_image_left .dm_first_p {display:inline-block; float:left; margin:0 20px 0 0;}

